<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta name="viewport" content="width=device-width, user-scalable=no">

	<!-- CSS only -->
    	<link href="./login_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style id="uw-video-styles">
      video.uw-v-dqwe7sj {
        transform-origin: center center !important;
        transform: var(--uw-transform) !important;
      }
    </style><style id="uw-global-css">.extraClassAspect { transform-origin: center center; will-change: transform; } .extraClassCrop { transform-origin: center center; will-change: transform; }</style></head>

    <body>
        <div class="row">
            <div class="mx-auto">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Usuário/senha inválidos!</div>
                </div>

                <div class="card">
                    <h5 class="card-header">Informe usuário e senha</h5>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label>Login:<input class="form-control" type="text" name="username" placeholder="Usuário"></label>
                            </div>

                            <div class="form-group">
                                <label>Senha:<input class="form-control" type="password" name="password" placeholder="Senha"></label>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

    



</body></html>